﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #eabffb;
}
table{
    margin: 0 auto;
    background-color: #17c3f2;
}
h1{
    text-align: center;
}
th{
    text-align: center;
}
td{
    border: 1px solid black;
}