﻿@model Kontakt.Models.KontaktE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kontakt</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
    <body>
        <h1>Kontakt do @Model.imie @Model.nazwisko</h1>
        <table style="width:50%; border: 1px solid black;">
            <tr>
            <td align="left">Imię</td>
            <td>@Model.imie</td>
            </tr>
            <tr>
            <td align="left">Nazwisko</td>
            <td>@Model.nazwisko</td>
            </tr>
            <tr>
                <td align="left">Wiek</td>
                <td>@Model.wiek</td>
            </tr>
            </table>
        <table style="width:50%; border: 1px solid black;">
            <tr>
                <th>Numery telefonów:</th>
            </tr>
        </table>
        <table style="width:50%; border: 1px solid black;">
            @foreach (var telefon in @Model.telefon)
            {
                <tr>
                    <td>
                        <p align="center">
                            @telefon.id
                            </p>
</td>
                    <td>
                        <p align="center">
                            @telefon.numerTelefon
                            </p>
</td>
                </tr>
            }
</table>
</body>
</html>
