﻿@model IEnumerable<Kontakt.Models.KontaktE>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kontakt</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<body>
    <h1>Lista kontaktów</h1>
    <table style="width:50%; border: 1px solid black;">
        <tr>
            <td>Imię</td>
            <td>Nazwisko</td>
        </tr>
        @foreach (var lista in Model)
        {
            <tr>
                <td>@lista.imie</td>
                <td>@lista.nazwisko</td>
            </tr>
        }
    </table>
</body>
</html>
